.cell-day{
    display: inline-block;
    width: 50px;
    text-align: center;
}

.cell-month{
    width: 100%;
    margin-left: 4%;
}

.cell-month h2{
    font-size: 18pt;
}


.timsheet-info{
    border: 1px solid #d8d8d8;
    width: 755px;
}
